body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
td,th,caption {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a {
	color: inherit; 
	text-decoration: none;
}
img {
    border: none;
}
ol,ul,li {
    list-style: none;
}
input, textarea, button {
    outline: none;
    border: none;
    background: transparent;
    resize: none;
}
table {
    border-collapse: collapse;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom:1;
}
.f-l { 
	float: left;
}
.f-r { 
	float: right;
}

/* 文字超出隐藏 */
.text-noWarp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*多余两行省略号代替*/
.text-noWarp-2{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}